.app-wrapper{
  background-color: rgb(248, 254, 254);
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas: "h h "
  "n c ";
  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-gap: 8px;
}
a{
  text-decoration: none  ;
}
.app-wrapper-content{

  background-color: rgb(255, 240, 240);
  grid-area: c;

}